@media screen and (min-width: 800px) {
  

.photofond{
    width: 100%;
    box-flex: ;
}





#item1:hover{
    color: black;
    text-decoration: underline;

}
#item2:hover{
    color: black;
    text-decoration: underline;

}
#item3:hover{
    color: black;
    text-decoration: underline;

}

#item4:hover{
    color: black;
    text-decoration: underline;

}

#item1{
    font-family: Futura;
    font-size: 20px;
    display:inline;
    color: rgba(115, 69, 38, 1);
    margin-left: 50px;
    text-decoration: none;
}

#item2{
    font-family: Futura;
    font-size: 20px;
    display:inline;
    color: rgba(115, 69, 38, 1);
    margin-left: 50px;
    text-decoration: none;
}


#item3{
    font-family: Futura;
    font-size: 20px;
    display:inline;
    color: rgba(115, 69, 38, 1);
    margin-left: 50px;
    text-decoration: none;
}

#item4{
    font-family: Futura;
    font-size: 20px;
    display:inline;
    color: rgba(115, 69, 38, 1);
    margin-left: 210px;
    text-decoration: none;
}

#titre{
    font-family: phosphate;
    font-size: 50px;
    display:inline;
    color: rgba(115, 69, 38, 1);
    margin-left: 100px;
    text-decoration: none;
}

img{
    max-width: 1920px;
}
 


h1{
    height:50px;
    border:1px solid rgba(158, 128, 108, 0.28); 
    background-color: rgba(158, 128, 108, 0.28);
    color: #734526;
    font-family: Futura;
    font-size: 150%;
    position: bottom;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
 }




.image4{
    width: 50%;
    
}




.image5{
    width: 50%;
    
}

.image6{
    
    width: 50%;
}

.image7{
    
    width: 50%;
}

.image10{
    
    width: 50%;
}




 

p{
    text-align : center;
    font-family: Futura;
    font-size: 300%;
    color: rgba(115, 69, 38, 1);
    display: flex;
    width: auto; 
    
}


.image11{
    margin-top: 20px;
    margin-left: 30px;
    width: 400%;
    height: 30%;
    
 }




a{
    text-align: center;
}


.blocjeu{
    width:700px;  
    margin-top: 30px; 
    margin-left: 360px;
    height:250px;
    border-radius: 30px;
    font-size:100%; 
    border:3px solid rgba(158, 128, 108, 0.28); 
    background-color: rgba(158, 128, 108, 0.28);
    text-align: center;
}

#textejeu{
    text-align : center;
    font-family: Futura;
    color: rgba(115, 69, 38, 1);
    font-size: 25px;
}

.formulaire{
    margin: auto;
    display: flex;
}

input{
    font-family: Futura;
    color: rgba(158, 128, 108, 1);
    font-size: 120%;
    margin-top: 40px;
    margin-left: 100px;
    border :0px;
    background-color: white;
    width: 500px;
    border-radius: 30px;
}



button{
    font-family: Futura;
    color: white;
    font-size: 120%;
    background-color: rgba(158, 128, 108, 1);
    border: rgba(158, 128, 108);
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}



.grostitrecontact{
    margin-top: 30px;
    color: #734526;
    font-family: Futura;
    font-size: 150%;
    position: bottom;
    text-align: center;


}

.grostitreapropos{
    margin-top: 50px;
    color: #734526;
    font-family: Futura;
    font-size: 150%;
    position: bottom;
    text-align: center;
}
}


@media screen and (min-width: 200px) {
  .container {
    margin: 1em 2em;
  }
}


























@media only screen and (max-width: 800px) {


#titre{
    font-family: phosphate;
    font-size: 15px;
    display:inline;
    color: rgba(115, 69, 38, 1);
    margin-left: 5px;
    text-decoration: none;
    text-align: center;
}

.photofond{
    width: 100%;
    text-align: center;
}

#item1{
    font-family: Futura;
    font-size: 5px;
    display:inline;
    color: rgba(115, 69, 38, 1);
    margin-left: 10px;
    text-decoration: none;
}

#item2{
    font-family: Futura;
    font-size: 5px;
    display:inline;
    color: rgba(115, 69, 38, 1);
    margin-left: 10px;
    text-decoration: none;
}


#item3{
    font-family: Futura;
    font-size: 5px;
    display:inline;
    color: rgba(115, 69, 38, 1);
    margin-left: 10px;
    text-decoration: none;
}

#item4{
    font-family: Futura;
    font-size: 5px;
    display:inline;
    color: rgba(115, 69, 38, 1);
    margin-left: 70px;
    text-decoration: none;
}




.image4{
    width: 50%;
    margin-left: px;
}

.image5{
    width: 50%;
    margin-left: px;
}

.image6{
    margin-left: px;
    width: 50%;
}

.image7{
    margin-left: px;
    width: 50%;
}

.image10{
    margin-left: px;
    width: 50%;
}



 h1{
    height:20px;
    border:1px solid rgba(158, 128, 108, 0.28); 
    background-color: rgba(158, 128, 108, 0.28);
    color: #734526;
    font-family: Futura;
    font-size: 50%;
    position: bottom;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
 }
 

p{
    text-align : center;
    font-family: Futura;
    font-size: 100%;
    color: rgba(115, 69, 38, 1);
    display: flex;
    width: 400px; 
    margin-left: px;
    
}


.image11{
    margin-top: 20px;
    margin-left: 30px;
    width: 40%;
    height: 30%;
    
 }




a{
    text-align: center;
}


.blocjeu{
    
    width:250px;  
    margin-top: 30px; 
    margin-left: px;
    height:250px;
    border-radius: 30px;
    font-size:100%; 
    border:3px solid rgba(158, 128, 108, 0.28); 
    background-color: rgba(158, 128, 108, 0.28);
    text-align: center;
}

#textejeu{
   
    font-family: Futura;
    color: rgba(115, 69, 38, 1);
    font-size: 15px;

}

input{
    font-family: Futura;
    color: rgba(158, 128, 108, 1);
    font-size: 120%;
    margin-top: 40px;
    margin-left: px;
    border :0px;
    background-color: white;
    width: 200px;
    border-radius: 30px;

    
}


button{
    font-family: Futura;
    color: white;
    font-size: 120%;
    background-color: rgba(158, 128, 108, 1);
    border: rgba(158, 128, 108);
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.grostitrecontact{
    margin-top: 30px;
    color: #734526;
    font-family: Futura;
    font-size: 150%;
    position: bottom;
    text-align: center;


}

.grostitreapropos{
    margin-top: 50px;
    color: #734526;
    font-family: Futura;
    font-size: 150%;
    position: bottom;
    text-align: center;
}
}















